@model TaskManager.Models.Employee
@{
    ViewBag.Title = "Add";
}

<h2>Add A Task</h2>
<div class="navbar">
    <a class="navlink" href="/Task/List">Back to List</a>
</div>

<form method="post" action="/Task/Add">

    <div>
        <label>Task Name : </label>
        <input type="text" id="taskname" name="taskname" />
    </div>

    <div>
        <label>Estimated Start Date : </label>
        <input type="text" id="eststartdate" name="eststartdate" />
    </div>

    <div>
        <label>Estimated End Date : </label>
        <input type="text" id="estenddate" name="estenddate" />
    </div>


    <div>
        <label>Description : </label>
        <input type="text" id="description" name="description" />
    </div>

    <div>
        <label>Status : </label>
        <select id="status" name="status">
            <option selected value="unassigned">Unassigned</option>
            <option value="pending">Pending</option>
            <option value="accepted">Accepted</option>
            <option value="started">Started</option>
            <option value="completed">Competed</option>
        </select>
    </div>

    <div>
        <label>Note : </label>
        <input type="text" id="note" name="note" />
    </div>

    <div>
        <label>Priority : </label>
        <select id="priority" name="priority">
            <option selected value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="3">4</option>
        </select><span>1 = highest priority, 5 = lowest priority</span>
    </div>

    <div>
        <input type="submit" value="Add Task" />
    </div>
</form>
